.nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.navtitle {
    float: left;
    width: 90%;
    background-color: midnightblue;
    text-decoration: none;
    color: white;
}

.title > a {
    text-decoration: none;
    color: white;
}

.navloginlogout {
    float: right;
    width: 10%;
    background-color: midnightblue; 
}

.loginlogout > a {
    font-weight: 100;
    font-size: 75%;
    background-color: orangered;
    padding: 5%;
    text-decoration: none;
    color: white;
}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.categories {
    width: 20%;
    float: left;
}

.items {
    width: 80%;
    float: right;
}

body {
    font-family: sans-serif;
}

th {
    text-align: left;
}