{% extends 'layout.html' %}
{% block content %}
<div class="form">
    <span></span>
    <br />
    <h1>New Item</h1>
    <br />
    <form action="" method="POST">
        <label for="name">Name:</label>
        <input type ="text" name="name" required="required" />
        <br />
        <br />
        <label for="description">Description:</label>
        <textarea name="description" required="required"></textarea>
        <br />
        <br />
        <label for="category">Category:</label>
        <select name="category" required="required">
            <option value=""></option>
            {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        <span>
            <button class="submit" type="submit">Save</button>
            <a href="{{url_for('read_latest_items')}}">Cancel</a>
        </span>
    </form>
</div>
{% endblock %}
